**/node_modules
**/test
**/*.md
**/Dockerfile
**/.env.local
**/.gitignore
**/dist
.git
.gitignore
*.md
node_modules
apps/**/node_modules
packages/**/node_modules
**/**/node_modules
**/**/**/node_modules
.prettierrc.json
prodnode_modules
.env
Dockerfile
.gitignore
.git
