body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24292e;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

button {
    background: black;
    color: white;
    /*min-height: 24px;*/
    /*min-width: 40px;*/
    padding: 2px;
    text-align: center;
    margin: 2px auto;
    border-radius: 100%;
}

input {
    padding: 4px;
    width: 280px;
    margin: 4px auto;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: #42414d;
    height: 280px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

#login-form {
    top: 75%;
}

#join-session-form {
    position: absolute;
    top: 36%;
}

#create-session-form {
    top: 75%;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    font-size: 42px;
    font-weight: bolder;
    z-index: 20;
    color: #ffffff;
    display: flex;
}

.unit-card {
    width: 40px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust transparency as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 60px;
}


.health-container {
    width: 100%;
    text-align: center;
}

.health-text {
    font-size: 10px;
}

.health-bar-container {
    width: 100%;
    height: 5px;
    background: red;
    /* Background for lost health */
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.health-bar {
    height: 100%;
    background: green;
    /* Health remaining */
    transition: width 0.3s;
}

.unit-type {
    font-weight: bold;
    margin-top: 2px;
    font-size: 12px;
}

#overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 92%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust transparency as needed */
    color: white;
    /* Ensures text inside is visible */
    border: solid 2px black;
    margin: 16px;
    display: none;
}
